{
    "env": {
      "browser": true,
      "webextensions": true
    },
    "globals": {
      "chrome": "readonly"
    },
    "extends": [
      "react-app",
      "eslint:recommended"
    ],
    "rules": {
      "no-unused-vars": "warn",
      "no-undef": "off"
    }
  }
  